autom4te.cache/
config.log
config.status
Makefile
src/Makefile
tests/Makefile
po/Makefile

*.o
*.lo
*.la
*.a
.deps/
.libs/

src/lfspkg
tests/test_main

config.h
config.h.in
stamp-h1

po/*.gmo
po/locale/

*~
